
p {
    font-family: 'Raleway', sans-serif;
}
img {
    height:200px;
}
body {
    background-color: rgb(232, 235, 238);
}
h1 {
    font-family: 'Unlock', cursive; 
    
}
#directions {
    color: red;
}